@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

@keyframes fade {
  from {
    background-color: purple;
  }

  75%, 100% {
    background-color: transparent;
    padding: 0%;
  }
}

.animate-fade {
  animation: fade 1s ease-in infinite;
}

@keyframes slow-blink {
  50%, 75% {
    opacity: 0%;
  }

  75%, 100% {
    opacity: 100%;
  }
}

.animate-slow-blink {
  animation: slow-blink 4s ease-in-out infinite;
}
